* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

header {
    position: absolute;
    width: 100%;
    padding-left: 40px;
    padding-top: 16px;
    padding-right: 40px;


}

header .header {
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.bg_header {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    height: 100vh;

}

h1 {
    margin: auto;
    font-size: 80px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0 15px;
}

h1 span {
    font-style: italic;
}

.who_we_are {
    padding: 82px 0 40px;
    background-color: white;

}

.who_we_are .content {
    max-width: 768px;
    margin: auto;
    text-align: center;
}

.who_we_are .content h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 22px;
}

.who_we_are .content h4 {
    font-size: 44px;
    color: #747a7f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 52px;
}

.who_we_are .content p {
    font-size: 18px;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 47px;
    line-height: 30px;
}

.who_we_are .content a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 45px;
    border: solid black 2px;
    font-size: 14px;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 162px;
}

.work {
    max-width: 1280px;
    flex-wrap: wrap;
    margin: auto;

}

.d-flex {
    display: flex;
}


.work .work_foto {
    width: 25%;
    padding: 2px;

}

.work .work_foto img {
    display: block;
    width: 100%;
}

.people {
    max-width: 768px;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 60px;
    padding-bottom: 165px;
}

.people h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 22px;
}

.people h4 {
    font-size: 44px;
    color: #747a7f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 52px;
}

.people p {
    font-size: 18px;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

.people .item {
    max-width: 746px;

}

.item_ceo {
    width: 100%;


}

.item_ceo img {
    display: block;
    width: 100%;
}

.item_text {
    background-color: #f9f9f9;
    padding: 20px 15px 48px;

}

.item_text h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 22px;
    text-align: left;
}

.item_text h4 {
    text-align: left;
    font-size: 21px;
    margin-bottom: 35px;
}

.item_text p {
    text-align: left;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 25px;
}

.last_post {
    max-width: 768px;
    margin: auto;
    text-align: center;
    padding-bottom: 160px;
}

.last_post h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 22px;
}

.last_post h4 {
    font-size: 44px;
    color: #747a7f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.last_post .item {
    margin-bottom: 85px;
}

.last_post .item .foto {
    width: 50%;
}

.last_post .item .foto img {
    display: block;
    width: 100%;
}

.last_post .item .text {
    width: 50%;
    background-color: #f9f9f9;
    padding: 42px;
    text-align: left;
}

.last_post .item .text h3 {
    font-size: 13px;
    color: #505d68;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-align: left;

}

.last_post .item .text h4 {
    font-size: 30px;
    color: #505d68;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    text-align: left;
}

.last_post .item .text p {
    font-size: 16px;
    color: #505d68;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 30px;

}

.last_post .item .text a {
    display: inline-block;
    text-decoration: none;
    padding: 18px 45px;
    border: solid black 2px;
    font-size: 14px;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.last_post a {
    display: inline-block;
    text-decoration: none;
    padding: 18px 45px;
    border: solid black 2px;
    font-size: 14px;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.contact {
    max-width: 768px;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

.contact h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 22px;
}


.contact h4 {
    font-size: 44px;
    color: #747a7f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 52px;
}

.contact .contact_map {
    position: relative;
    max-width: 768px;
    height: 295px;

}


.contact .contact_text {
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.contact .contact_text .text {
    width: 50%;
    padding: 50px 70px;
    color: #505d68;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.contact .contact_text .text span {
    display: block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: normal;
}

footer {
    padding: 40px 0;
    background-color: #eeeeee;


}

.footer {
    max-width: 768px;
    margin: auto;
    justify-content: space-between;
    padding: 0 23px;
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}


.owl-nav .owl-prev {

    width: 20px;
    height: 20px;
    position: absolute;
    left: -50px;
    top: 300px;

}

.owl-nav .owl-prev:before {
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: black;
    font-size: 30px;
}


.owl-nav .owl-next {

    width: 20px;
    height: 20px;
    position: absolute;
    right: -50px;
    top: 300px;
    transform: rotate(180deg);
}

.owl-nav .owl-next:before {
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: black;
    font-size: 30px;

}

.owl-dots{
    width: 100%;
    text-align: center;
}

.owl-dots .owl-dot {

display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black !important; ;
    border-radius: 50%;
    margin: 10px;




}

.owl-dots .owl-dot.active {
    background-color: #d4af37 !important; ;


}