* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

header {
    position: absolute;
    width: 92%;
    left: 4%;
    top: 16px;

}

header .header{
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.bg_header {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    height: 100vh;

}

h1 {
    margin: auto;
    font-size: 80px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 span{
    font-style: italic;
}